* {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  box-sizing: border-box;
  font-family: 'Varela Round', Helvetica, sans-serif;
}

body {
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  background-color: #00aeff;
  padding: 20px;
  width: 600px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 160px repeat(5, 100px);
}

#display {
  border-radius: 5px;
  background-color: #303030;
  color: #00aeff;
  padding: 10px;
  margin-bottom: 10px;
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  text-align: end;
  font-size: 2.5rem;
}

#last, #sign, #current {
  display: flex;
  justify-content: end;
  align-items: center;
}

#result {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1 0 100%;
}

button {
  border: 2px solid #303030;
  border-radius: 5px;
  color: #303030;
  font-size: 2rem;
}

button:hover {
  background-color: #303030;
  color: #00aeff;
  cursor: pointer;
}

button.equal {
  grid-column: span 2;
}